*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    /* display: block;  */

    /*some styles not working for it, therefore we use inline-block  */
    /* display: inline; */

    display: inline-block; 
 }


 a{
    width: 100px;
    margin: 1 0px;
    margin-top: 40px;
    height: 10px;

    display: inline-block;

    /* now works the height */
    /* display: block; */

   
 }



 /* display: flex give for the parent element */
 .box{
    width: 600px;
    height: 600px;
    background-color: red;

    /* this one is verry compulsory for using when justify-content and align-items */
    display: flex;

    /* this one works only for the there has a display: flex..it is compulsory. */
    justify-content: right;

    /* Keep the same space between contents */
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    justify-content: center;


  
    align-items: end;
    align-items: start;
    align-items: center;
    


 }

 .content-1{
    width: 100px;
    height: 100px;
    background-color: blue;
 }

 .content-2{
    width: 100px;
    height: 100px;
    background-color:yellow;
}