*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content-1{

}

.input-content{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-content input{

}

.input-content label{
    width: ;
}

.content-2{

}