*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-1{
    width: 200px;
    height: 200px;
    background-color: red;
    /* other members are dont know this elemnt position were changed */
    /* position: relative; */

    /* when we use this position: absolute, it seens only for us and other page elemnts think its not in the page() */
    position: absolute;
    /* left: 100px; */
    /* top: 50px; */
    right: 10px;
    bottom: 0px;

    position: fixed;
}

.box-2{
    width: 200px;
    height: 200px;
    background-color: rgb(144, 0, 255);
}