*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 80px;
    /* background-color: red; */
    background-image: linear-gradient(to right, rgb(3, 7, 15),rgb(68, 222, 233),rgb(1, 1, 14));
}